<% if @video_game.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @video_game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @video_game do |f| %>
    <strong><%= f.label :title %></strong>
    <%= f.text_field :title %><br>
  
    <strong><%= f.label "Video Game Description" %></strong>
    <%= f.text_field :description %><br>
  
    <div>
      <strong><%= f.label :genre_name, :Genre %></strong><br>
        <%= f.text_field :genre_name %>
  
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  <% end %>