<% if @video_game.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <ul>
    <% @video_game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(video_games_path) do |f| %>
    <strong><%= f.label :title %></strong>
    <%= f.text_field :title %><br>
  
    <strong><%= f.label "Video Game Description" %></strong>
    <%= f.text_field :description %><br>
  
    <div>
      <strong><%= f.label :genre %></strong><br>
      <%= f.collection_check_boxes :genre_id, Genre.all, :id, :name %>
      <%= f.text_field :name %>
  
    <%= f.hidden_field :created_by, value: current_user.id %>
    <%= f.submit %>
  <% end %>