<h1>Login</h1>
<p><%= button_to "Login with Google", '/auth/google' %></p>
<p>or enter in your details below:</p>

<%= form_for(:session, url: login_path) do |f| %>
  <strong><%= f.label :email %></strong> <%= f.text_field :email  %><br>
  <strong><%= f.label :password %></strong> <%= f.password_field :password  %><br>
  <%= f.submit "Login" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up!", new_user_path %></p>
