<h1>Account Settings</h1>

<p>
  <%= button_to "Back to All Favorite Video Games", video_games_path, :method => "get" %>
</p>

<p>
  <%= button_to "Create a New Favorite Video Game", new_video_game_path, :method => "get" %>
</p>

  <strong>Email:</strong> <%= @user.email %><br>

  <%= button_to "Logout", logout_path, :method => "get" %>

  <br>

  <p>
    <%= button_to "Other gamers posted these genres for their video games!", users_path, :method => "get" %>
  </p><br>

  <p>
    <%= button_to "Other gamers posted these video games!", index_two_path, :method => "get" %>
  </p>