<!DOCTYPE html>
<html>
  <head>
    <title>Favorite Video Game-Space 2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Favorite Video Game-Space 2", root_path %>

    <div>
      <%= render partial: "shared/alerts" %>
      <%= yield %>
    </div>
  </body>
</html>